.occurrence {
  border: 1px solid #333;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #fff;
  margin: 10px;
}

.occurrenceBody {
  margin: 50px 0;
}